@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    font-family: "Open Sans"
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.btn{
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 30px; 
    font-size: 25px;
    background-color: rgb(37, 141, 201);
    border-radius: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 5px 5px 0 rgb(0, 0, 0, 0.8),
    0 0 10px rgb(0, 0, 0, 0.8);
}

.btn:active{
    overflow: none;
    position: relative;
    top: 10px;
    left: 2px;
    box-shadow: none;
}
