*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif; 
}

#pantalla {
    height: 100vh;
    padding: 40px;
    background-color: white;
    color: black;
}


button {
    padding: 9px 8px;
    margin-right: 10px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
}

.Vista {
    margin-top: 300px;
}