@import url('https://fonts.googleapis.com/css?family=Rajdhani:wght@300;500;600&family=Rammetto+One&display=swap');

*{
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}


#pantalla-inicial {
    display: block;
    max-width: 700px;
    margin: 200px auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border: 2px solid #2536f3;
    border-radius: 20px;
}

#pantalla-inicial h1 {
    font-family: 'Rammetto One', sans-serif;
    font-size: 50px;
    color: #560cbd;
}

button {
    background: #289adb;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    cursor: pointer;
    margin: 10px 20px;
    border-radius: 30px;
    border-bottom: 4px solid #460872;
    font-size: 16px;
}

button:hover {
    border-bottom: 4px solid transparent;
    background-color: #7705b9;
}

#pantalla-juego {
    display: none; /* Se activa dinámicamente */
}

.container {
    position: relative;
    width: 255px;
    height: 255px;
    margin: 50px auto;
    border: 2px solid #000;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container #tiempo {
    font-size: 50px;
    font-weight: bold;
}

/* Círculos de letras individuales alrededor del reloj */
.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    background: #fff;
    color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}


.pregunta-actual {
    background-color: #000 !important;
    color: #fff !important;
}

.bien-respondida {
    background-color: #3edbbb !important;
    color: #fff !important;
}

.mal-respondida {
    background-color: #f6797b !important;
    color: #fff !important;
}

.contenedor-pregunta {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    max-width: 700px;
    margin: auto;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.contenedor-pregunta #letra-pregunta {
    border: 2px solid #000;
    display: inline-block;
    color: #000;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 30px;
    background: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
}

.contenedor-pregunta #pregunta {
    margin: 10px 0;
    font-weight: normal;
}

.contenedor-pregunta input {
    display: inline-block;
    margin: 15px 0;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    width: 60%;
    border-radius: 30px;
    outline: none;
    border: 2px solid #ccc;
}

#pantalla-final {
    max-width: 700px;
    margin: 200px auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    padding: 30px;
    border: 2px solid #000;
    border-radius: 20px;
}